@model Demo.Models.Hehe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hehe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeheName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeheName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Haha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Haha.HahaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HeheID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
