@model IEnumerable<Demo.Models.Hehe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeheName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Haha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeheName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haha.HahaName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HeheID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HeheID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HeheID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
